@font-face {
  font-family: "Gothic";
  src: url("images/Gothic\ 821\ Condensed.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gothic;
}

:root {
  --frest-mint: #275848;
  --dark-fresh-mint: #163027;
  --banana-skin: #f6d700;
  --pure-white: #fff;
  --mint-cream: #fafbf8;
  --rose-white: #f1eaea;
}

/* basic styling */
.bg-fresh-mint {
  background-color: var(--frest-mint);
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

body {
  background: var(--mint-cream);
}

.between {
  justify-content: space-between;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.wrapper {
  padding-inline: 1rem;
}

.p-block {
  padding-block: 7rem;
}

/* Header Styling */

.navbar {
  min-height: 13vh;
}
.link {
  color: var(--mint-cream);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}

.logo {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--pure-white);
}

li {
  list-style: none;
}

.navlist {
  gap: 2.5rem;
}

.hamburger {
  color: var(--pure-white);
  font-size: 1.6rem;
  display: none;
}

.mobile-list {
  display: none;
}

.mobile-list .link {
  font-size: 1.1rem;
  color: var(--dark-fresh-mint);
  text-transform: uppercase;
  font-family: Gothic;
}

/* SECTIONS STYLING */

.hero-content {
  min-height: 100vh;
  position: relative;
}
h1 {
  font-size: 30vw;
  color: var(--pure-white);
  text-transform: uppercase;
  letter-spacing: -1rem;
  line-height: 100%;
  text-shadow: 0 0 1.5rem var(--dark-fresh-mint);
  text-align: center;
}
.wavy-shape {
  position: absolute;
  bottom: 0;
}
.shoe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-20deg);
  width: 54vw;
}
.hero-section {
  border-radius: 0 0 5rem 5rem;
}

.hero-inner {
  position: absolute;
  bottom: 150px;
  width: 100%;
  min-height: 30vh;
  align-items: flex-end;
}
.circle {
  width: 10rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  background: var(--banana-skin);
  align-self: flex-start;
  position: relative;
}
.circle::before {
  content: "# 1 Best Sneakers";
  position: absolute;
  font-size: 3.2rem;
  top: 0;
  left: 10%;
  text-transform: uppercase;
  line-height: 100%;
  text-shadow: 0.3rem 0.3rem 0 var(--pure-white);
  transform: rotate(-20deg);
}
.para {
  max-width: 320px;
  color: var(--dark-fresh-mint);
  font-family: Arial, Helvetica, sans-serif;
}
.cylinder {
  padding: 1rem;
}
.cylinder-inner {
  background: var(--banana-skin);
  width: 100%;
  min-height: 17vh;
  border-radius: 100vw;
  white-space: nowrap;
  overflow: hidden;
}

h4 {
  font-size: 4.5rem;
  text-transform: uppercase;
  color: var(--frest-mint);
}

.mobile-para {
  color: var(--pure-white);
  max-width: 350px;
  text-align: center;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}
h2 {
  font-size: 7.5vw;
  color: var(--frest-mint);
  text-transform: uppercase;
  letter-spacing: -0.25rem;
}
.capsule {
  width: 15rem;
  height: 5rem;
  background: linear-gradient(90deg, pink, #d4d4d4);
  border-radius: 100vw;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.capsule img {
  position: absolute;
  top: 35%;
  width: 10rem;
  left: 50%;
  transition: 0.2s ease-in-out;
  transform: translate(-50%, -50%);
}

.capsule:hover img {
  transform: translate(-50%, -35%) rotate(45deg);
}

.profile {
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  border: 0.3rem solid var(--pure-white);
  overflow: hidden;
}

.profile:nth-child(2),
.profile:nth-child(3) {
  margin-left: -1rem;
}

.profile img,
.category-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h5 {
  font-size: 3vw;
  margin-left: 1rem;
  text-transform: uppercase;
  color: var(--frest-mint);
}
.btn {
  background: var(--frest-mint);
  color: var(--pure-white);
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 100vw;
  border: 0.4rem solid var(--pure-white);
}

h3 {
  font-size: 6vw;
  line-height: 100%;
  text-transform: uppercase;
  z-index: 3;
  color: var(--frest-mint);
}

.card {
  background: var(--rose-white);
  height: 70vh;
  border-radius: 5rem;
  flex: 1;
  position: relative;
  overflow: hidden;
  flex-basis: 300px;
}

.card-container {
  gap: 1rem;
  margin-top: -2rem;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card .btn {
  position: absolute;
  bottom: -100px;
  width: 80%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.category {
  position: relative;
}

.card:hover .btn {
  bottom: 30px;
}

.card .btn:hover {
  background: var(--banana-skin);
  color: var(--frest-mint);
}
.product .para,
.product h3 {
  color: var(--pure-white);
}

.product .para {
  color: var(--pure-white);
  text-align: right;
}

.icon-btn {
  width: 5rem;
  aspect-ratio: 1;
  outline: 0.4rem solid var(--pure-white);
  background: var(--banana-skin);
  color: var(--frest-mint);
  font-size: 2rem;
  border-radius: 100vw;
  text-align: center;
  line-height: 5rem;
  transition: 0.3s ease-in-out all;
}

.category .cylinder-inner {
  background: var(--dark-fresh-mint);
  transition: 0.3s ease-in-out all;
}

.category .cylinder-inner h4 {
  color: var(--pure-white);
  transition: 0.3s ease-in-out all;
}

.m-top {
  margin-top: 5rem;
}

.category-image {
  width: 12rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -10%);
  box-shadow: rgba(0, 0, 0, 0.438) 0 2rem 6rem 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out all;
  overflow: hidden;
  pointer-events: none;
  z-index: 4;
}

.category .cylinder-inner:hover ~ .category-image {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}

.category .cylinder-inner:hover {
  background: var(--banana-skin);
}

.category .cylinder-inner:hover h4 {
  color: var(--frest-mint);
}

.category .cylinder-inner:hover .icon-btn {
  background: var(--frest-mint);
  color: var(--banana-skin);
  transform: rotate(-50deg);
}

.intro-image {
  width: 100%;
  height: 85vh;
  background-image: url(images/shoe\ bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5rem;
  background-position: bottom;
  justify-content: center;
}

.intro-image .btn {
  background: var(--banana-skin);
  color: var(--frest-mint);
}

.btn:hover {
  background: orangered;
  color: var(--pure-white);
}

.contact {
  width: 80%;
  margin: auto;
  position: relative;
}

.contact .icon-btn {
  background: var(--frest-mint);
  color: var(--banana-skin);
}

.contact-image {
  position: absolute;
  width: 11rem;
  left: 60%;
  top: 170px;
  transition: 0.3s ease-in-out;
  filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.644));
}
.contact:hover .contact-image {
  top: 10px;
  transform: rotate(-20deg);
}
.contact:hover .icon-btn {
  transform: rotate(-50deg);
}
.footer-list {
  justify-content: center;
  min-height: 17vh;
}

.footer-link {
  background: var(--rose-white);
  padding: 1rem 3rem;
  border-radius: 5rem;
  text-transform: uppercase;
  color: var(--frest-mint);
  transition: 0.3s ease-in-out all;
}

.footer-link:hover {
  background: var(--frest-mint);
  color: var(--pure-white);
}

.copyright {
  padding-block: 1rem;
}

.copyright p {
  color: var(--frest-mint);
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 2rem;
}

.footer-content a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--dark-fresh-mint);
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-content a i {
  font-size: 22px;
}

.footer-content a:hover {
  color: var(--banana-skin);
  transform: translateY(-3px);
}

/* Media Queries Mobile Friendly */

@media screen and (max-width: 780px) {
  .navlist {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .navbar {
    position: relative;
  }
  .mobile-list {
    display: block;
    position: absolute;
    background: var(--banana-skin);
    top: 120px;
    left: -100%;
    transform: translate(-50%);
    padding: 3rem;
    border-radius: 5rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.678) 0 2rem 6rem 0;
    outline: 0.4rem solid var(--pure-white);
    transition: 0.5s ease-in-out;
    z-index: 5;
  }
  .mobile-list-active {
    left: 50%;
    transform: translate(-50%);
  }
  .mobile-para {
    display: block;
  }
  h1 {
    font-size: 8.6rem;
    letter-spacing: -0.1rem;
  }
  .hero-inner {
    display: none;
  }
  .hero-content {
    min-height: 83vh;
    padding-top: 2rem;
  }
  .shoe {
    width: 27rem;
    top: 65%;
  }
  h4 {
    font-size: 3rem;
  }
  .cylinder-inner {
    min-height: 13vh;
    justify-content: center;
    padding: 1rem;
  }
  h2 {
    font-size: 4rem;
    letter-spacing: -0.1rem;
  }
  h5 {
    font-size: 1.9rem;
  }
  .gap {
    gap: 2.5rem;
  }
  .profile {
    width: 3rem;
  }
  .btn {
    font-size: 1.5rem;
    border-width: 0.2rem;
  }
  h3 {
    font-size: 3.7rem;
  }
  .card-container {
    margin-top: 2rem;
  }
  .category .cylinder-inner {
    justify-content: space-between;
  }
  .category-image {
    width: 8rem;
    left: 55%;
  }
  .intro-image {
    height: 50vh;
  }
  .contact {
    width: 100%;
    justify-content: space-between;
  }
  .contact-image {
    width: 8rem;
    left: 47%;
  }
}
